
*{
    margin: 0;
    padding: 0;
}

table{
    width: 50%;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
th{
    border: 2px solid black;
}
tr{
    border: 2px solid black;
}
td{
    border: 2px solid black;
}